<li>
	<p>{{id}}. {{burger_name}}</p>
<span>
	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Ate It!{{else}}Devour It!{{/if}}
	</button>

	</span>
</li>